body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    margin: auto;
    margin-top: 15vh;
    width: 200px;
    padding: 200px;
    border-radius: 20px;
    background-color: transparent;
}
.box form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
input[type=button]{
    padding: 30px;
    stroke-width: 6px;
    fill: transparent;
    stroke: #000;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}
/* input[type=button]:hover{
    background: #000;
    color: #eee;

} */